#canvas-buttons {
    display: flex;
    justify-content: space-around;
}

#toggle-hint .hint-on{
    fill: yellow;
}

#toggle-hint .hint-off{
    fill: #52550b;
}

.draw-pad canvas {
    border: 1px solid var(--yomi-dark-blue);
    margin: 20px;
}

.rikai-kanji-pad-top {
    display: flex;
    justify-content: space-between;
}