.text-info-container {
    position: relative;
}

.text-info-container img {
    border-radius: 15px 15px 0 0;
    height: 192px;
    object-fit: cover;
}

.text-info-img-gradient {
    position: absolute;
    height: 25px;
    width: 100%;
    bottom: 0;
    background-color: var(--yomi-dark-blue);
}

.text-info-body {
    position: absolute;
    bottom: 2px;
    color: var(--yomi-white);
    width: 100%;
}

.text-info-body h3 {
    font-weight: bold;
}

.text-bookmark {
    position: absolute;
    top: -6px;
    right: 35px;
}

.text-info-length {
    display: flex;
    float: left;
    font-size: 14px;
    padding: 0 10px;
}

.text-info-date {
    display: flex;
    float: right;
}

.text-info-date span {
    font-size: 14px;
    padding: 0px 10px 0 5px;
}

.text-info-creator {
    display: block;
    text-align: right;
    color: var(--yomi-gray-800);
    font-size: 14px;
    padding: 5px 10px 0 0;
}