html, body, #root, #app-container {
    height: 100%;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    overflow-x: hidden;
    width: 100vw;
}

.App {
    text-align: center;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.word-dict > #yomi-text-container::-moz-selection {
    background-color: #72d2f2;
}

.word-dict > #yomi-text-container::selection {
    background-color: #72d2f2;
}

.kanji-dict > #yomi-text-container::-moz-selection {
    background-color: #ee891e;
}

.kanji-dict > #yomi-text-container::selection {
    background-color: #ee891e;
}

#example-header {
    text-align: center;
}

#example-text {
    margin: 20px;
}

#user-options li {
    list-style: none;
    font-size: smaller;
}

#user-options {
    text-align: center;
}

#reset-btn button {
    background-color: #5A9A99;
    border-color: #518a89;
    cursor: pointer;
}

