.canvas-container {
    margin: 20px auto;
}

#canvas-buttons {
    display: flex;
    justify-content: space-around;
}

#canvas-buttons button{
    border-radius: 5px;
    background-color: white;
}

#toggle-hint .hint-on{
    fill: yellow;
}

#toggle-hint .hint-off{
    fill: #52550b;
}

.draw-pad canvas {
    border: 1px solid var(--yomi-dark-blue);
}

.rikai-kanji-pad-top {
    display: flex;
    justify-content: space-between;
}
