/* this is to reset almost everything under the popup to a sane value */

#rikai-window * {
    width: auto;
    height: auto;
    background: transparent;
    color: black;
    border: none !important;
    border-spacing: 0;
    margin: 0;
    padding: 0;
    letter-spacing: normal;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
    text-transform: none;
    white-space: normal;
    word-spacing: normal;
    font: normal 14px sans-serif;
    visibility: visible;
}

#rikai-window {
    position: absolute;
    z-index: 99992;
    background: #fbfafa;
    top: 5px;
    left: 5px;
    width: auto;
    height: auto;
    max-width: 300px;
    display: none;
    border: 2px solid #694A52;
    border-radius: 15px 15px 5px 5px;
    margin-bottom: 10px;
}

/* used for word and name definitions */

#rikai-window .w-word {
    padding: 5px;
}

#rikai-window .w-kanji {
    font-size: 20px;
    color: #497c7b;
    margin-right: 0.7em;
}

#rikai-window .w-kana {
    font-size: 14px;
    color: #c53d62;
    margin-right: 0.7em;
}

#rikai-window .w-grammar {
    color: #dc9c05;
    font-size: 12px;
}

#rikai-window .w-def {
    font-size: 13px;
}

#rikai-window .w-def span {
    font-weight: 700;
    color: #1686e6;
    cursor: pointer;
}

#rikai-window .example {
    font-size: 13px;
    padding: 5px;
}

#rikai-window .example-btn {
    float: right;
    cursor: pointer;
    color: #1686e6;
    padding: 5px 5px 0 15px;
}

/* used for kanji information */

#rikai-window .kanji-box {
    padding: 10px;
}

#rikai-window .k-kanji {
    font-family: serif;
    font-size: 48px;
    color: #497c7b;
    display: inline-block;
}

#rikai-window .k-main-data {
    display: inline-block;
    padding-left: 15px;
    margin-top: 15px;
}

#rikai-window .kanji-info {
    display: flex;
}

#rikai-window .k-main-data-line {
    display: block;
    font-size: 12px;
}

#rikai-window .k-eigo {
    font-size: 12px;
}

/* kanji: readings */

#rikai-window .k-yomi {
    font-size: 14px;
    color: #c53d62;
    margin: 4px 0px;
}

/* kanji radical, grade, freq, strokes box */

#rikai-window .rikai-top {
    text-align: center;
    height: 25px;
    background-color: #694A52;
    line-height: 23px;
    border-radius: 10px 10px 0 0;
    padding-left: 5px;
}

#rikai-window .rikai-title {
    font-size: 15px;
    color: whitesmoke;
    margin-right: 27px;
    padding: 5px;
}

#rikai-window .closeBtn {
    position: absolute;
    right: 6px;
    cursor: pointer;
    height: 8px;
    width: 8px;
    background-color: whitesmoke;
    padding: 4px 15px 13px 3px;
    border-radius: 50%;
    line-height: 11px;
    font-weight: bold;
    top: 2px;
}

#rikai-window .more-btn {
    text-align: center;
    cursor: pointer;
}

#rikai-window .definition-dark {
    background-color: #eeeded;
}

#rikai-window .definition-light {
    background-color: #fbfafa;
}

#spinner {
    margin: 15px 0;
    transform: translate(55%, 0%);
}

#rikai-window .example-words-search {
    display: flex;
    justify-content: space-around;
}

#rikai-window .example-words-search span {
    color: #497c7b;
    font-weight: bold;
    cursor: pointer;
    font-size: 18px;
}

#rikai-window .example-words-search .asterisk {
    vertical-align: sub;
}

#sample-btn .btn i {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 18px;
}