#app-header {
    background-color: #732472;
    color: #FFC4B2;
    font-weight: bold;
    font-family: Georgia, serif;
    font-size: 2em;
    padding: 10px;
    text-align: center;
}

.header .logo {
    width: 150px;
}
.header .logo-color {
    color: red;
}

.header .button {
    margin-left: auto;
}

.userIcon {
    height: 30px;
    padding-right: 10px;
}

#username {
    font-size: 15px;
    position: relative;
    top: -2px;
    text-transform: capitalize;
}

.chevron-down {
    font-size: 30px!important;
    position: relative;
    top: 8px;
    cursor: pointer;
}

.user-menu {
    position: relative;
    top: 8px;
    color: white;
}
.user-menu div{
    color: white;
    font-weight: normal;
}