.text-card-link:hover {
    text-decoration: none;
}

.text-card-top {
    position: relative;
}

.text-card-excerpt {
    margin-top: 10px!important;
    white-space: pre-wrap;
}

.text-card-date {
    font-size: 16px!important;
    margin-right: 5px;
}

.card-text-content hr {
    width: 98%;
    display: flex;
}

.card-text-gradient {
    position: absolute;
    height: 80px;
    width: 100%;
    bottom: 20px;
}

.difficulty-bar .level-zero {
    color: #7bee65;
}

.difficulty-bar .level-one {
    color: #38c14c;
}

.difficulty-bar .level-two {
    color: #e7db10;
}

.difficulty-bar .level-three {
    color: #ee891e;
}

.difficulty-bar .level-four {
    color: #c80009;
}

.text-card-bottom {
    display: flex;
    justify-content: space-between;
}

.text-card-bottom-container {
    display: block !important;
}

.text-tags {
    width: 260px;
    height: 30px;
    line-height: 30px;
}

.tag-icon {
    margin-right: 5px;
}

.tag-icon i {
    transform: rotate(-125deg);
    margin: 0 5px 2px 10px;
    position: absolute;
    bottom: 10px;
}
.tag-list {
    font-size: 12px;
    position: relative;
    padding-left: 35px;
}

.favorite-icon {
    color: #c80009;
}

.absolute-pos {
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    padding: 4px 4px 0 4px;
    border-radius: 3px 0 5px 0;
}

#kanji-pie-chart > div {
    display: inline;
}
