.text-card-link:hover {
    text-decoration: none;
}

.text-card-top {
    position: relative;
}

.text-card-excerpt {
    margin-top: 10px!important;
    white-space: pre-wrap;
}

.text-card-date {
    font-size: 16px!important;
    margin-right: 5px;
}

.difficulty-bar .level-zero {
    color: #7bee65;
}

.difficulty-bar .level-one {
    color: #38c14c;
}

.difficulty-bar .level-two {
    color: #e7db10;
}

.difficulty-bar .level-three {
    color: #ee891e;
}

.difficulty-bar .level-four {
    color: #c80009;
}

.text-card-bottom {
    display: flex;
    justify-content: space-between;
}

.text-card-bottom-container {
    display: block !important;
}

.tag-icon {
    margin-right: 5px;
}

.tag-list {
    font-size: 12px;
    position: relative;
    top: -4px;
}

.favorite-icon {
    color: #c80009;
}