#TTS-btns {
    text-align: center !important;
}

#TTS-btns .btn {
    height: 20px;
    width: 20px;
}

#resume img{
    width: 15px !important;
    height: 15px !important;
    vertical-align: initial;
}