#yomi-text {
    padding: 0 5% 5% 5%;
}

#yomi-text-title {
    text-align: center;
    padding-top: 50px;
}

#text-box {
    margin: 20px 0;
}

#yomi-text-info {
    position: relative;
    top: -50px;
    z-index: 2;
}

#yomi-text-box {
    background-color: white;
    padding-bottom: 16px;
    font-size: 20px;
    line-height: 42px;
    position: relative;
    top: -40px;
}

#yomi-text-btn-container {
    text-align: center;
    position: sticky;
    bottom: 40px;
    z-index: -1;
}

#yomi-text-btn-container button {
    background-color: var(--yomi-light-red);
    color: var(--yomi-white);
}

#dld-tts {
    display: inline;
}

#dld-tts-btn {
    margin-left: 20px;
}

#dld-tts svg {
    height: 20px;
    width: 20px;
}
