#read-page .ql-editor {
    font-size: 20px;
}

#react-trumbowyg {
    font-size: 20px!important;
}

#yomi-text-title {
    text-align: center;
    padding-top: 50px;
}

#text-box, #reset-btn {
    text-align: center;
}

#reset-btn {
    text-align: center;
    margin: 5%;
}

#text-box {
    margin: 20px 0;
}

#yomi-text {
    margin: 0 5%;
    font-size: 24px;
    line-height: 50px;
}
