#rikai-window {
    position: absolute;
    z-index: 100;
    background: var(--yomi-gray-200);
    top: 5px;
    left: 20px;
    width: auto;
    height: auto;
    min-width: 300px;
    display: none;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-right: 20px;
}

/* used for word and name definitions */

#rikai-window .w-word {
    padding: 5px;
}

#rikai-window .w-kanji {
    font-size: 20px;
    color: #497c7b;
    margin-right: 0.7em;
}

#rikai-window .w-kana {
    font-size: 14px;
    color: #c53d62;
    margin-right: 0.7em;
}

#rikai-window .w-grammar {
    color: #dc9c05;
    font-size: 12px;
}

#rikai-window .w-def {
    font-size: 13px;
}

#rikai-window .w-def span {
    font-weight: 700;
    color: #1686e6;
    cursor: pointer;
}

#rikai-window .w-type {
    color: #f19755;
    font-size: 11px;
    padding: 0 10px;
}

#rikai-window .example {
    font-size: 13px;
    padding: 5px;
}

#rikai-window .example-btn,.add-list-btn {
    float: right !important;
    cursor: pointer !important;
    color: #1686e6 !important;
    padding: 5px 5px 0 15px !important;
}

/* used for kanji information */

#rikai-window .kanji-box {
    padding: 10px;
}

#rikai-window .k-kanji {
    display: inline-block;
}

#rikai-window .k-dictionary-data {
    display: inline-block;
    padding-left: 10px;
    margin-top: 15px;
    min-width: 100px;
    position: absolute;
}

#rikai-window .k-main-data p{
    margin-top: 0;
    margin-bottom: 8px;
}

#rikai-window .k-main-data {
    margin: 10px 0;
    font-weight: 500;
}

#rikai-window .k-main-data-line {
    display: block;
    font-size: 14px;
    line-height: 28px;
    font-weight: 600;
}

#rikai-window .k-main-data-line span {
    color: var(--yomi-dark-red);
}

#rikai-window .k-eigo {
    font-weight: 700;
    letter-spacing: 0.5px;
}

#rikai-window .definition-dark {
    background-color: #eeeded;
}

#rikai-window .definition-light {
    background-color: #fbfafa;
}

#spinner {
    margin: 15px 0;
    transform: translate(55%, 0%);
}

#rikai-window .example-words-search {
    display: flex;
    justify-content: space-around;
}

#rikai-window .example-words-search div {
    color: var(--yomi-dark-blue);
    font-weight: 500;
    cursor: pointer;
    font-size: 16px;

    border: 1px solid var(--yomi-dark-blue);
    border-radius: 50%;
    width: 42px;
    height: 42px;

    text-align: center;
    vertical-align: middle;
    line-height: 42px;
}

#rikai-window .example-words-search .asterisk {
    vertical-align: sub;
}

#sample-btn button {
    background-color: var(--yomi-gray-200);
    border: none;
}

#sample-btn {
   text-align: center;
}

#sentence {
    font-size: 20px;
}

#sentence > ruby {
    font-size: 20px;
}

#sentence > ruby > rt {
    display: block;
    font-size: 50%;
    text-align: start;
}

.rikai-display {
    padding: 10px !important;
}

.rikai-word-kanji {
    display: inline-block;
    font-size: 20px;
    font-weight: 500;
    padding-left: 20px;
    font-family: 'Noto Serif JP', serif;
    max-width: 79%;
}

.rikai-word-tts {
    position: absolute;
    top: 16px;
}

.rikai-word-kana {
    padding-left: 24px;
    font-size: 14px;
}

.rikai-word-grammar {
    color: var(--yomi-gray-600);
    font-size: 12px;
    padding-top: 12px;
}

.rikai-word-meaning {
    font-weight: 600;
    color: var(--yomi-gray-800);
}

.rikai-word-examples {
    padding-top: 20px;
    font-size: 14px;
    padding-left: 20px;
}

.rikai-word-examples i {
    position: absolute;
    left: 8px;
}

.rikai-word-examples .example-sentence {
    font-size: 16px;
}

.rikai-word-more-ex {
    float: right;
    padding: 0 20px 10px;
    font-size: 12px;
    text-decoration: underline;
    text-decoration-color: var(--yomi-dark-red);
    letter-spacing: 0.5px;
}

.carrot-down {
    color: var(--yomi-gray-500);
}

.rikai-kanji-top {
    display: flex;
    justify-content: space-between;
}

.practice-label {
    font-size: 10px;
    color: gray;
    text-align: center;
}

.examples-label {
    margin-top: 14px;
}

.view-mnemonics {
    cursor: pointer;
    text-decoration: underline;
    text-decoration-color: var(--yomi-dark-red);
}

.kanji-rtk-top {
    display: flex;
    height: 50px;
}
.kanji-rtk-top .back-btn {
    position: absolute;
}

.kanji-rtk-title {
    margin: 0 auto;
}

.kanji-rtk-character {
    font-size: 30px;
    font-weight: 500;
    font-family: 'Noto Serif JP', serif !important;
    color: var(--yomi-dark-red);
}

.kanji-rtk-keyword {
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 1px;
}

.kanji-rtk ol {
    padding-left: 20px;
}

.kanji-rtk li {
    padding-bottom: 20px;
}

.kanji-rtk-components {
    font-size: 14px;
    text-align: center;
    margin: 0 auto;
    max-width: 256px;
}